@using PS.Automarket.Domain.Entities

@model Car

<div class="row">
     <div class="col-2 mb-5 mx-2 p-2" style="border-color:forestgreen; border-style: solid">
        <p>@Model.Name</p>
        <p>@Model.Model</p>
        <p>@Model.Description</p>
        <p>@Model.Price</p>
        <p>@Model.DateCreate</p>
   </div>
</div>
