@using PS.Automarket.Domain.Entities
@model IEnumerable<Car>


@{
    ViewData["Title"] = "Car Page";
}

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-2 mb-5 mx-2 p-2" style="border-color:forestgreen; border-style: solid">
            <p>@car.Name</p>
            <p>@car.Model</p>
            <p>@car.Description</p>
            <p>@car.Price</p>
            <p>@car.DateCreate</p>
        </div>
    }
</div>
